extends ../layout
block hero-unit

block content
  .container
    h1.main-title Users
    
    table.table.table-hover
      thead
        tr
          th Name
          th Email
          th Created At
          th
      tbody
        each user in users
          tr
            td
              a(href=`/users/${user._id}`)= user.name
            td= user.email
            td= moment(user.createAt).format('YYYY-MM-DD hh:mm')
            td
              a.btn.btn-sm.btn-outline-secondary(href=`/users/${user._id}/edit`)
                | #[i.fa.fa-pencil] Edit
              |
              a.btn.btn-sm.need-confirm-btn.btn-outline-danger(href=`/users/${user._id}?_method=DELETE`)
                | #[i.fa.fa-trash] Delete
    a.btn.btn-mine.register(href='/users/signup') #[i.fa.fa-plus] Register a new user
  
block category
